.results__detail {
  padding: 30px;
  padding-right: calc(30% + 20px);
}

.results__group {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  overflow: hidden auto;
  padding: 80px 20px 100px;
  background: #eee;
}

.btn-center {
  margin: auto 120px;
}

@media screen and (max-width: 760px) {
  .results__detail {
    padding: 20px;
  }

  .results__group {
    position: static;
    width: auto;
    height: auto;
    padding: 20px;
    background: transparent;
  }
}
