.filmDetail__item {
  display: flex;
}

.FilmDetail__summary {
  padding: 20px;
}

.film__name {
  margin: 10px auto;
}

@media screen and (max-width: 640px) {
  .FilmDetail__summary {
    display: none;
  }
}

.country {
  display: inline-block;
  margin-right: 8px;
}

.country__flag {
  height: 18px;
}
