.filmDetail__item {
  display: flex;
}

.filmDetail__summary {
  padding: 30px;
  background-color: #e1def8ff;
  border-radius: 0 15px 15px 0;
}

.filmDetail__summary div:first-child {
  font-weight: bold;
}

.film__name {
  margin: 10px auto;
}

@media screen and (max-width: 1030px) {
  .filmDetail__summary {
    display: none;
  }
}

.country {
  display: inline-block;
  margin-right: 8px;
}

.country__flag {
  height: 18px;
}

.filmDetail__item img {
  width: 100%;
}
