.film-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0 10px 0;
}

.film-group__image {
  width: 92px;
  cursor: pointer;
}

.film-group h3 {
  font-size: 18px;
  line-height: 1.8;
}