.film-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  transition: transform 0.2s;
  transform-origin: left center;
}

.film-group:hover {
  transform: scale(1.05);
}

.film-group__image {
  width: 92px;
}

.film-group h3 {
  font-size: 18px;
  line-height: 1.8;
}
