@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Barvy
vSvSvModra #e1def8ff
SvModra #8d86b8
TmModra #1f156b
Cream #fffbf9
zloutkova #e1bc41
zelena #235155  */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  min-height: calc(100vh - 170px);
  margin-top: 60px;
  /* padding: 0 10px 40px; */
}
