.main_pic {
}

.main__home {
  padding: 0px;
  display: flex;
}

.content__left {
  position: relative;
  flex: 0 1 auto;
  /*  width: 600px; */
  width: 100%;
  background-image: url(../../img/homepagepic.jpeg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
